/* Universal selector of the page which set the tone of the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element selector of the page that set the background color */
body {
    background-color: #d9dcd6;
}

/* class selector that formats the header of the page */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This sets the heading 1 display and font-size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This class selector that sets the color of the word seo  */
.header h1 .seo {
    color: #d9dcd6;
}

/* element selector for nav element that formats the navigation in the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* this sets the  style of unordered list in the navigavation section */
.header nav ul {
    list-style-type: none;
}

/* sets the display and margin of the list in the navigation section */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* this sets the color and text-decoration of the link */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets the font-size of the paragraph*/
p {
    font-size: 16px;
}
/* The picture of the people in a meeting */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* class selector of the image in section one of the main content that gives it a right margin and float it to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* class selector of the image in section two of the main content that gives it a left margin and float it to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* The main content of the page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* aside of the page*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets the bottom margin and color of section one of the aside of the page */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets the bottom margin and color of section two of the aside of the page */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets the bottom margin and color of section three of the aside of the page */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets the bottom marign and text alignment of h3 of section one of the aside of the page */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets the bottom marign and text alignment of h3 of section two of the aside of the page */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets the bottom marign and text alignment of h3 of section three of the aside of the page */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* this sets the display, marign and gives a maximum width to the image in section one of the aside of the page */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* this sets the display, marign and gives a maximum width to the image in section two of the aside of the page */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* this sets the display, marign and gives a maximum width to the image in section three of the aside of the page */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* class selctor that formats section one of the main content */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* class selector that formats section two of the main content */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* class selector that formats section three of the main content */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets the image to a maximum height of 200px in section one of the main content */
.search-engine-optimization img {
    max-height: 200px;
}

/* sets the image to a maximum height of 200px in section two of the main content */
.online-reputation-management img {
    max-height: 200px;
}

/* sets the image to a maximum height of 200px in section three of the main content */
.social-media-marketing img {
    max-height: 200px;
}

/* this gives bottom margin and font-size of h2 in section one of the main content */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* this gives bottom margin and font-size of h2 in section two of the main content */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* this gives bottom margin and font-size of h2 in section three of the main content */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* class selector that formats the footer of the page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This sets the fontsize of h2 in the footer of the page */
.footer h2 {
    font-size: 20px;
}